* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.random_cats img {
  width: 5%;
}

.menu {
  border: 1px solid #dfdfdf;
  height: 100vh;
  padding: 1rem 0;
}

.menu-label{
  padding: 0 .9rem;
}