* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.random_cats img {
  width: 5%;
}

.menu {
  border: 1px solid #dfdfdf;
  height: 100vh;
  padding: 1rem 0;
  position: absolute;
  transition: .5s ease-out;
}

.menu-label {
  padding: 0 .9rem;
}

.wrapper button {
  position: absolute;
  transition: .5s ease-out;
  border-left: 0;
}